<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monterey Conditions</title>
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: white;
      color: grey;
    }
    img {
      width: 560px;
      max-width: 100%;
      height: auto;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
      margin-bottom: 1em;
    }
    input[type="range"] {
      width: 560px;
      max-width: 100%;
    }
  </style>
</head>
<body>

  <img id="scrubImage" src="plots/0.png" alt="Significant wave height colormap" />
  <input type="range" id="slider" min="0" max="144" value="0" />

  <script>
    const slider = document.getElementById('slider');
    const img = document.getElementById('scrubImage');

    // preload images
    const totalFrames = 145;
    const images = [];
    for (let i = 0; i < totalFrames; i++) {
      const image = new Image();
      image.src = `plots/${i}.png`;
      images.push(image);
    }

    slider.addEventListener('input', () => {
      const frame = slider.value;
      img.src = images[frame].src;
    });
  </script>

  <div style="max-width: 100%">
    {{ swell_graph }}
  </div>

  <div><i>Last updated: {{ last_updated }} [v{{ version }}]</i></div>
  <div><a href="https://github.com/kevinddchen/wavey">Github</a></div>

</body>
</html>
